@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Parastoo;
  src: url('./fonts/Parastoo.eot');
  src: url('./fonts/Parastoo.eot?#iefix') format('Parastoo-opentype'),
       url('./fonts/Parastoo.woff') format('woff'),
       url('./fonts/Parastoo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Parastoo';
  direction: rtl;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
input::placeholder{
  color: rgb(46, 43, 223);
  font-size: 12px;
}

